.button {
/* 	background-color: white;
	border: 1px solid #2a6b86;
	height: 30px; */
	width: 100%;
	background-color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid #2a6b86;
	border-radius: 4px;
	cursor: pointer;
}

.button:hover {
	background-color:  #2a6b86;
	color: #fff;
}