.courseCard {
	color: #6b6f7a;
	border: 1px solid rgb(191, 191, 191);
	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
	margin: 15px 0;
	padding: 10px;
}

.courseCardTitle {
	color: black;
	font-size: 20px;
	font-weight: bold;
}

.courseButton {
	margin: 10px 0;
}

button {
	margin-right: 8px;
}